[submodule "dotfile.vim/bundle/ctrlp.vim"]
	path = dotfile.vim/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule "dotfile.vim/bundle/syntastic"]
	path = dotfile.vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic
[submodule "dotfile.vim/bundle/vim-fugitive"]
	path = dotfile.vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive
[submodule "dotfile.vim/bundle/vim-powerline"]
	path = dotfile.vim/bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline
[submodule "dotfile.fonts/ubuntu-mono-powerline"]
	path = dotfile.fonts/ubuntu-mono-powerline
	url = git://github.com/scotu/ubuntu-mono-powerline
[submodule "dotfile.vim/bundle/TagHighlight"]
	path = dotfile.vim/bundle/TagHighlight
	url = git://github.com/vim-scripts/TagHighlight
[submodule "dotfile.vim/bundle/supertab"]
	path = dotfile.vim/bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule "dotfile.vim/bundle/vim-colors-solarized"]
	path = dotfile.vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
