[submodule "dotfile.vim/bundle/ctrlp.vim"]
	path = dotfile.vim/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule "dotfile.vim/bundle/syntastic"]
	path = dotfile.vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic
[submodule "dotfile.vim/bundle/vim-fugitive"]
	path = dotfile.vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive
[submodule "dotfile.vim/bundle/vim-powerline"]
	path = dotfile.vim/bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline
[submodule "dotfile.fonts/ubuntu-mono-powerline"]
	path = dotfile.fonts/ubuntu-mono-powerline
	url = git://github.com/scotu/ubuntu-mono-powerline
[submodule "dotfile.vim/bundle/vim-coffee-script"]
	path = dotfile.vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "dotfile.vim/bundle/vim-ansible-yaml"]
	path = dotfile.vim/bundle/vim-ansible-yaml
	url = git://github.com/chase/vim-ansible-yaml.git
[submodule "dotfile.vim/bundle/youcompleteme"]
	path = dotfile.vim/bundle/youcompleteme
	url = https://github.com/Valloric/YouCompleteMe.git
