[global_config]
  focus = system
  title_transmit_fg_color = "#ff8e8e"
  title_inactive_fg_color = "#fff19c"
  borderless = True
  title_receive_bg_color = "#939393"
  title_transmit_bg_color = "#000000"
  title_receive_fg_color = "#fff19c"
  title_inactive_bg_color = "#939393"
[keybindings]
  go_up = <Alt>K
  resize_up = <Ctrl><Shift>K
  resize_left = <Ctrl><Shift>H
  go_down = <Alt>J
  go_right = <Alt>L
  go_left = <Alt>H
  resize_right = <Ctrl><Shift>L
  resize_down = <Ctrl><Shift>J
[profiles]
  [[default]]
    background_darkness = 0.81
    scrollback_lines = 10000
    login_shell = True
    background_type = transparent
    foreground_color = "#ffffff"
[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
